@{
    Layout = "~/Views/Shared/_adminProductionLayout.cshtml";
}
<head>
    <title>ZPZP</title>
    <link href="/Styles/StyleAdmin.css" rel="stylesheet" type="text/css" />
  
</head>
<br />
<div class="row">
    <div class="column">
        <div class="card">
            @{
                byte[] imageBytes = ViewBag.Image as byte[];
            }
            @if (imageBytes != null)
            {
                <img src="data:image;base64,@Convert.ToBase64String(imageBytes)" alt="Obrazek" style="width:100%">
            }
            else
            {
                <p>Brak obrazka</p>
            }
     
            <div class="container">
                <h1>Zalogowano jako <span>@ViewBag.Username</span></h1>
                <h2> <span>@ViewBag.Name</span> <span>@ViewBag.Surname</span></h2>
                <p class="title"><span>@ViewBag.UserLevel</span> działu <span>@ViewBag.Category</span></p>
                <p class="title"><span>@ViewBag.Email</span></p>
                <p><span>@ViewBag.PhoneNumber</span></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="container">
                <form action="/dashboard/settings-password" method="post">
                    <div>
                        <label for="newPwd">Wprowadź nowe hasło:</label>
                        <input type="password" id="newPwd" name="newPwd" />
                    </div>
                    <div>
                    <input type="hidden" name="userID" value="@ViewBag.ID" />
                    </div>
                        <div>
                            <button type="submit">Zmień hasło</button>
                        </div>
                </form>


                <form action="/dashboard/settings-image" method="post" enctype="multipart/form-data">
                <div>
                    <label for="file">Choose a photo:</label>
                    <input type="file" id="file" name="file" accept="image/*" required />
                </div>
                <div>
                    <input type="hidden" name="userID" value="@ViewBag.ID" />
                </div>
                <div>
                    <button type="submit">Upload</button>
                </div>
                </form>


            </div>
            </div>
        </div>




</div>


